form{
    width: 60;
    border: solid 1px;
}
input{
    width: 95;
    margin: 2% 0;
    padding: 16px 5px;
}
button{
    padding: 12px 10px;
    width: 97;
    border: none;
    background-color: rgb(185,161,185);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}